{% extends "../layouts/base_generic.html" %}

{% block content %}
	<h2 id="bcdclock">BCD Clock <span class="free">Free!</span></h2>
	<img src="/images/bcd_clock_small.png" class="screenshot" alt="BCD Clock Screenshot" />
	<p class="c">
	Whether you want to impress your alpha friends or just confuse all of your normal buddies, a binary clock is a sure fire way to achieve your goal.

	</p>

	<p class="c">
	As you may have guessed, this simple clock uses binary to display the current time down to the second, with a hypnotic tick-tock sound to back the purple and cyan dots. No preferences, no frills. Great utility to satisfy the geek in all of us!
	</p>

	<p class="c">
	Also worth noting is that the methodic ticking and color changing has the ability to keep babies and toddlers enthralled for hours.
	</p>

	<p class="c" style="clear: both">
	<br />
	<a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=304799483&mt=8">Purchase BCD Clock from iPhone App Store</a> for the low, low price of <span class="free"><strong>NOTHING</strong>, it's free!</span>
	</p>
{% endblock %}
