{% extends "../layouts/base_generic.html" %}

{% block content %}
  <h2 id="bug-splat">Bug Splat</h2>
  <img src="/images/bugsplat.png" class="screenshot" alt="Bug Splat Screenshot" />

  <p class="c">
    Goodness! Those pesky spiders are trying to eat all of your prize winning ladybugs again.
  </p>

  <p class="c">
    In Bug Splat, you're tasked with the goal of squashing all of the spiders before they can finish off your prized herd.
  </p>

  <p class="c">
    With fast paced gameplay, razor sharp coordination and reflexes are key to save your itty-bitty-buddies.
  </p>

  <p class="c">
    Bug Splat offers addictive, quick bursts of gameplay that are sure to keep children of all ages entertained. Use the local score system to keep topping your personal best.
  </p>

  <p class="c" style="clear: both">
  <br />
  <a href="http://itunes.apple.com/us/app/bug-splat/id339453056?mt=8">Purchase Bug Splat from iPhone App Store</a> for only <strong>99&cent;</strong>
  </p>

{% endblock %}
