{% extends "../layouts/base_generic.html" %}

{% block content %}
  <h2 id="celljumper">Cell Jumper</h2>
  <img src="/images/celljumper.png" class="screenshot longer" alt="Cell Jumper Screenshot" />
  <p class="c">
    Know how use the knight on a chess board? Want to train yourself to spot jump squares super fast?
    Step into the shoes of a certain hungry horsie and push your pattern recognition skills to their limits!
  </p>

  <p class="c">
    Race against the clock to eat every deliciously placed carrot on the board before time runs out.
    Did I mention horses love carrots? Well, they do... At least they do now.
  </p>

  <p class="c">
    Each new level brings more difficult puzzles with even more tasty carrots and an oh-so-precious increase in time.
  </p>

  <p class="c">
    How long can you last? Perhaps you should play Cell Jumper right now to find out!
  </p>

  <div class="c">
    <h4 style="margin-bottom:0px;padding-bottom:0px">Features</h4>
    <ul style="float: left;margin-top:0px;padding-top:0px;">
      <li>
        Addictive time based puzzle gameplay
      </li>
      <li>
        Interactive instructions
      </li>
      <li>
        Intuitive, easy to use interface
      </li>
    </ul>
  </div>

  <p class="c" style="clear: both">
  <br />
  <a href="http://itunes.apple.com/us/app/cell-jumper/id338987735?mt=8">Purchase Cell Jumper from iPhone App Store</a> for only <strong>99&cent;</strong>
  </p>

{% endblock %}
