{% extends "../layouts/base_generic.html" %}

{% block content %}
	<h2 id="clax">Clax</h2>
	<img src="/images/clax_small.png" class="screenshot" alt="Clax Screenshot" />
	<p class="c">
	Clax is a strategy puzzle game in which you remove groups of colored balls in a way that ultimately allows you to clear the board of all balls.
	</p>

	<p class="c">
	Clax has 6 difficulties, 3 ball sizes and a system to track and view your high scores.
	</p>

	<p class="c">
	Be cautioned, this game is extremely addicting. Like, addictive as <em>crack</em>, but at a fraction of the cost. I'm sure my wife has logged more hours playing this game than she has driving our car!

	</p>

	<p class="c" style="clear: both">
	<br />
	<a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=304807054&mt=8">Purchase Clax from iPhone App Store</a> for only <strong>99&cent;</strong>
	</p>
{% endblock %}
