{% extends "../layouts/base_generic.html" %}

{% block content %}
	<h2 id="claxhd">Clax HD</h2>

	<img src="/images/claxhd_large.png" class="screenshot-ipad" alt="Clax HD Screenshot" />
	<p class="c">
  Clax HD brings all of the addictive color matching greatness and sweet clacking action of the original, but in a classy new package. A fresh experience rewritten from the ground up, specifically for the iPad, with loads of new features and improvements. Including gorgeous new 3d and 2d graphics.
	</p>

	<p class="c">
  Use all of your cunning to remove every ball from the board. See that you're about to lose? Rotating the iPad causes balls to re-stack to the new orientation, adding an entirely new level of strategy!
	</p>

	<p class="c">
  Kids LOVE this game. Especially the younger ones. Watch their skills improve alongside yours!
	</p>

	<p class="c">
  Try your hand at Clax HD today!
	</p>

	<div class="c" style="float:right;margin-right:1.5em;">
    <h4 style="margin-bottom: 0px;margin-top:0px; padding-bottom: 0px;">Features</h4>
    <ul style="float: left; margin-top: 0px; padding-top: 0px;">
      <li>
        8 difficulties
      </li>
      <li>
        3 ball sizes
      </li>
      <li>
        2 ball styles
      </li>
      <li>
        Full rotation support (there is no 'up')
      </li>
      <li>
        Intuitive pick up and play design
      </li>
      <li>
        Local score system
      </li>
      <li>
        Hover over balls to see what will be removed
      </li>
      <li>
        Shake the iPad to quickly start a new game
      </li>
      <li>
        Games in progress are saved and reloaded on start
      </li>
      <li>
        Twitter and facebook support on the way
      </li>
    </ul>
	</div>

	<p class="c" style="clear: both">
	<br />
	<a name="#">Coming soon to the iPad App Store!</a>
	</p>
{% endblock %}
