{% extends "../layouts/base_generic.html" %}

{% block content %}
	<h2 id="claxhd">Clax HD</h2>

	<img src="/images/claxhd.png" class="screenshot-ipad" alt="Clax HD Screenshot" />
	<p class="c">
  Clax HD is an addictive puzzle game where you must use all of your cunning to remove every ball from the board.
	</p>

	<p class="c">
  Clax HD brings all of the color matching greatness of the original, but provides a completely new experience. Rewritten from the ground up, specifically for the iPad with several new features and improvements. Including Gorgeous new 3d and 2d graphics.
	</p>

	<p class="c">
  Rotating the iPad causes balls to restack to the new orientation, adding an entirely new level of stragegy!
	</p>

	<p class="c">
  Try your hand at Clax HD today!
	</p>

	<div class="c">
    <h4 style="margin-bottom: 0px; padding-bottom: 0px;">Features</h4>
    <ul style="float: left; margin-top: 0px; padding-top: 0px;">
      <li>
      8 difficulties
      </li>
      <li>
      3 ball sizes
      </li>
      <li>
      2 ball styles
      </li>
      <li>
      Full rotation support (there is no 'up')
      </li>
      <li>
      Local score system
      </li>
      <li>
      Post scores to Facebook! (twitter integration coming)
      </li>
      <li>
      Hover over balls to see what will be removed
      </li>
      <li>
      Shake the iPad to quickly start a new game
      </li>
      <li>
      Games in progress are saved and reloaded on start
      </li>
    </ul>
	</div>



	<p class="c" style="clear: both">
	<br />
	<a name="#">Coming soon to the iPad App Store!</a>
	</p>
{% endblock %}
