{% extends "../layouts/base_generic.html" %}

{% block content %}
  <h2 id="flip-em-off">Flip 'Em Off!</h2>
  <img src="/images/flip_em_off.png" class="screenshot" alt="Flip 'Em Off! Screenshot" />
  <p class="c">
    Flip 'Em Off! is a puzzle game with the deceptively simple goal of turning every light on or off.
  </p>

  <p class="c">
    Flipping a light switch also has the side effect of toggling the lights of your adjacent neighbors, making completing a game both strategic and rewarding.
  </p>

  <p class="c">
    Try to complete each puzzle in as few tries as possible!
  </p>

  <div class="c">
    <h4 style="margin-bottom:0px;padding-bottom:0px">Features</h4>
    <ul style="float: left;margin-top:0px;padding-top:0px;">
      <li>
        3 grid sizes
      </li>
      <li>
        simple, intuitive user interface 
      </li>
      <li>
        smooth animation and transitions
      </li>
      <li>
        no fuss, jump directly into a game
      </li>
      <li>
        pick up and play where you left off at any time
      </li>
      <li>
        satisfying sound effects and end game
      </li>
    </ul>
  </div>


  <p class="c" style="clear: both">
  <br />
  <strong>Coming soon to the appstore!</strong>
  </p>

{% endblock %}
