{% extends "../layouts/base_generic.html" %}

{% block content %}
	<h2 class="first" style="position: relative">
    Apps By Nick
    <span style="position: absolute; right: 2em;top: 8px">
      <a href="/pandadrop" style="border: 0; padding: 0px;position:absolute; right: 11.3em; top: 0px">
        <img src="/images/pandadrop_small_icon.png" border="0" style="height:28px;width:28px" />
      </a>
      <a href="/matchimals" style="border: 0; padding: 0px;position:absolute; right: 10em; top: 0px">
        <img src="/images/matchimals_small_icon.png" border="0" style="height:28px;width:28px" />
      </a>
      <a href="/claxhd" style="border: 0; padding: 0px;position:absolute; right: 8.7em; top: 0px">
        <img src="/images/claxhd.png" border="0" />
      </a>
      <a href="/atack" style="border: 0; padding: 0px">
        <img src="/images/atack.gif" border="0" />
      </a>
      <a href="/bugsplat" style="border: 0; padding: 0px">
        <img src="/images/bugsplat.gif" border="0" />
      </a>
      <a href="/celljumper" style="border: 0; padding: 0px">
        <img src="/images/celljumper.gif" border="0" />
      </a>
      <a href="/flipemoff" style="border: 0; padding: 0px">
        <img src="/images/flipemoff.gif" border="0" />
      </a>
      <a href="/clax" style="border: 0; padding: 0px">
        <img src="/images/clax.gif" border="0" />
      </a>
      <a href="/bcdclock" style="border: 0; padding: 0px">
        <img src="/images/bcdclock.gif" border="0" />
      </a>
    </span>
  </h2>
	<p class="c">
	Why, hello there! I'm your host, Nick. My favorite hobby is writing games for my kids. This shiney website catalogs them. Have a look around! Each of my products have been painstakingly tested for quality by my wife and said children. It's all certified excellent.
	</p>

	<p class="c"> If you see anything that piques your curiosity, you can click the "<strong>Purchase From App Store</strong>" link to purchase the application.
	</p>

	<p class="c">
	If you already own one of these applications, I'd appreciate your <a class="small-link" href="/support#feedback">feedback</a>. I'm always interested in improving the quality of my wares, and the easiest route to improvement is through feedback from the users.
	</p>

	<p class="c">
	Thanks for visiting. Enjoy!
	</p>

	<p class="c">
	- Nick
	</p>
{% endblock %}
