{% extends "../layouts/base_generic.html" %}

{% block content %}
	<h2 class="first">Apps By Nick</h2>
	<p class="c">
	Why, hello there! I'm your host, Nick. As you may have guessed, I write apps. Feel free to peruse some of my current applications below. If you see anything that piques your curiosity, you can click the "Purchase From App Store" link to purchase the application.
	</p>

	<p class="c">
	Each of these products were painstakingly tested for quality by my wife and five children.
	</p>

	<p class="c">
	If you already own one of these applications, I'd appreciate your <a href="#feedback">feedback</a>. I'm always interested in improving the quality of my products, and the easiest route to improvement is through feedback from the users.
	</p>

	<p class="c">
	Thanks for visiting, and I hope you enjoy my products.
	</p>
{% endblock %} 
