{% extends "../layouts/base_generic.html" %}

{% block content %}

	<h2 id="matchimals">Matchimals</h2>

	<img src="/images/matchimals_large.png" class="screenshot-ipad" alt="Matchimals Screenshot" />
	<p class="c">
    Matchimals is a cute little animal matching game where you race against the clock to pick every pair of animals off of the board.
	</p>

	<p class="c">
    Improve the memories of everyone in your the family with 9 adorable zoo animals, fun animations and sound effects that are built to keep preschoolers engaged.
	</p>

	<p class="c">
    Designed specifically for the iPad, Matchimals is perfect for long trips or quick bursts of gameplay.
	</p>

	<div class="c" style="float:right;margin-right:1.5em;">
    <h4 style="margin-bottom: 0px;margin-top:0px; padding-bottom: 0px;">How To Play</h4>
    <ul style="float: left; margin-top: 0px; padding-top: 0px;">
      <li>tap a star tile to flip it over, revealing an animal</li>
      <li>flip over 2 matching animal tiles to remove them</li>
      <li>avoid missing to increase multiplier</li>
      <li>slide finger across screen to pause game</li>
      <li>shake iPad to quickly start a new game</li>
    </ul>

    <h4 style="margin-bottom: 0px;margin-top:0px; padding-bottom: 0px;">Features</h4>
    <ul style="float: left; margin-top: 0px; padding-top: 0px;">
      <li>Matchimals supports all orientations</li>
      <li>9 animals</li>
      <li>3 different game sizes</li>
      <li>full screen display</li>
      <li>quick pick up and play design</li>
      <li>perfect game for children of all ages</li>
    </ul>
	</div>

  <p class="c" style="clear: both">
    <br />
    <a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=375287682&mt=8">Purchase Matchimals from iPad App Store</a> for only <strong>$1.99</strong>
  </p>

{% endblock %}
