{% extends "../layouts/base_generic.html" %}

{% block content %}

	<h2 id="pandadrop">Panda Drop</h2>

	<img src="/images/pandadrop_large.png" class="screenshot-ipad" alt="pandadrop Screenshot" />

	<p class="c">
  Help Peter the Panda keep his garden clean by matching groups of colored flowers together in a physics based falling block style adventure.
	</p>

	<p class="c">
  Peter the Panda will provide you with a colored flower which you can drag, fling, throw, tilt or dig into a garden filled with beautiful blossoms.
	</p>

	<p class="c">
  Try and cause chain reactions for huge points to one up your friends in the global leaderboards! Compete against the online community for the highest multiplier, streak and score honors. Complete with openfeint and facebook integration.
	</p>

	<p class="c">
  Be sure to collect all of the openfeint achievements!
	</p>

	<p class="c">
  Coming to the iPhone and iPod Touch VERY soon.
	</p>


	<div class="c">
    <h4 style="margin-bottom: 0px;margin-top:0px; padding-bottom: 0px;">Features</h4>
    <ul style="margin-top: 0px; padding-top: 0px;">
      <li>both left and right handed modes are supported</li>
      <li>post scores to facebook</li>
      <li>openfeint integration (achievements, leaderboards, forums, friends, IM)</li>
      <li>tilt enabled game play</li>
      <li>physics based flower tossing action</li>
      <li>adorable music and visuals</li>
      <li>family friendly (just try and keep your kids away from it)</li>
      <li>streamlined pick up and play interface</li>
      <li>addicting </li>
    </ul>

    <h4 style="margin-bottom: 0px;margin-top:0px; padding-bottom: 0px;">How To Play</h4>
    <ul style="margin-top: 0px; padding-top: 0px;">
      <li>Touch and drag the flower that Peter is holding for you</li>
      <li>Fling the flower into other flowers of the same color to form a match</li>
      <li>Try and create scenarios where large groups of flowers are matched at a time, causing chain reactions across multiple color groups</li>
      <li>Tilting the device can create unique strategic opportunities for increasing your multiplier</li>
    </ul>
	</div>

  <p class="c" style="clear: both">
    <br />
    <a name="pandadrop">Coming soon to the ipad and iphone appstores!</a>
  </p>

{% endblock %}
